Package: com.haotestlabs.nfcactivator
Name: NFCActivator
Depends: mobilesubstrate, com.haotestlabs.nfcbackground, ws.hbang.common (>= 1.2)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ArandomDev <haow6449@gmail.com
Author: ArandomDev <haow6449@gmail.com
Section: Tweaks
